/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}
body {
}

.navbar {
  min-height:75px;
  box-shadow: 0 -1px 7px rgba(0, 0, 0, 0.3);
  z-index: 999;
  background:white;
}
.navbar-default .navbar-nav>li>a {
	color: #0099aa;
}
.navbar-default .navbar-nav>li {
	margin-top:12px;
}
.navbar-header { margin-top:12px; }

.jumbotron { background:#FAFAFA; color:#6f6f6f; margin:0;}
h2 { color:rgb(59, 59, 59); }
h3 { margin:0 0 10px 40px; }
p {
	font-weight: 300;
	margin: 0 0 7px 0;
	padding: 0 0 15px 0;
	font-size:18px;
}
li { font-size:18px; line-height:35px; }
#maincontent { margin-top:75px;}
footer {
	min-height:120px;
	padding:35px 20px 20px 20px;
	background-color: #0099aa;
	color:white;
	font-weight:2em;
}
footer a { color:white; }
footer a:hover { color:white; }
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post img { display:block; margin:20px 0 20px 0; }

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
